{
	"presets": ["@babel/env", "@babel/typescript", "minify"],
	"plugins": [
		[
			"@babel/transform-runtime",
			{
				"helpers": false,
				"regenerator": true,
				"useESModules": true
			}
		]
	]
}
